* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 95px;
}

header {
    background-color: rgba(0, 32, 211, 0.75);
    height: 95px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 110px;

    padding-bottom: 20px;
    border-bottom: 8px solid rgb(68, 204, 209); 

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 200px;

}

.link {
    font-size: large;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #8edfff
}

#perfil {
    height: 100vh;     
    width: 100%;             
    background-color: #01000e; 

    border-bottom: 8px solid rgb(71, 188, 255);
}

#perfil::after {
    content: "";

    position: absolute;

    bottom: -80px;
    left: 0;

    width: 100%;
    height: 160px;

    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(15, 4, 172, 0.15) 25%,
        rgba(25, 201, 255, 0.8) 60%,
        rgba(11, 145, 235, 0.377) 80%,
        transparent 100%
    );

    filter: blur(15px);

    pointer-events: none;
}

#profissao {
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 7, 87);

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
    flex-wrap: wrap;

    padding: 120px 50px 50px;

}

.box {
    
    background-color: rgba(67, 241, 247, 0.932);
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 450px;

    border-radius: 20px;
} 

.box2 {
    
    background-color: rgba(67, 241, 247, 0.932);
    box-shadow: 5px 45px 30px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 450px;
    border-radius: 20px;
} 

footer {
    background-color: rgb(6, 2, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}